/*
////////////////////////////////////////
reset.css を読み込んで全てのスタイルをなくす
////////////////////////////////////////
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
////////////////////////////////////////
reset.css では足りない初期化を追加
////////////////////////////////////////
*/

/* 全てに box-sizing: border-box; を適用 */
*, *:before, *:after {
  box-sizing: border-box;
}

/* 画像に関する初期設定 */
img {
  /* 大きい画像がはみ出さないように */
  max-width: 100%;
  /* 画像周りの無駄なスペースができないように */
  vertical-align: bottom;
}

[data-whatinput="mouse"] *:focus,
[data-whatinput="touch"] *:focus {
  outline: none;
}

/*
////////////////////////////////////////
初期設定
////////////////////////////////////////
*/

body {
  padding: 32px 0;
  color: #56564f;
}

article {
  width: 640px;
  margin: 0 auto;
}

/*
////////////////////////////////////////
以下に自分なりのCSSを書いて読みやすくする
////////////////////////////////////////
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
  background: #505168;
}

h1 {
  display: inline-block;
  color: #505168;
  border-bottom: dashed 2px #505168;
  font-size : 32px;
  line-height: 1.4;
  margin-bottom: 12px;
  font-weight: bold;
}

h2 {
  padding: 0.25em 0.5em;
  color: #505168;
  background: transparent;
  border-left: solid 5px #DCC48E;
  margin: 12px auto;
}

article {
  background: #fff;
  padding: 12px;
  border-radius: 9px;
}

.profile {
  text-align: center;
  margin: 12px auto;
}

.profile img {
  border-radius: 10px;
  width: 50%;
}

ul, ol {
  border: solid 2px #DCC48E;
  border-radius: 9px;
  padding: 6px;
  margin: 6px;
}

ol {
  counter-reset: item;
}

ul li, ol li {
  padding: 0.5em 0.5em;
}

ol li:before {
  counter-increment: item;
  content: counter(item)'.';
  padding-right: 0.4em;
  color: #DCC48E;
  font-weight: bold;
}

i.check {
  color: #DCC48E;
  padding-right: 0.4em;
}

.underline {
  background:linear-gradient(transparent 60%, #EAEFD3 0%);
  font-weight: bold;
}

blockquote {
  position: relative;
  padding: 1.2em;
  margin: 6px;
  background: #DFDFDF;
  font-style: italic;
  border-radius: 9px;
}

blockquote:before{
  position: absolute;
  top: 0px;
  left: 0px;
  content: '“';
  font-size: 3em;
  color: #FFF;
}
